<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <file>dist/log/spring-kafka.log</file>
 	   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	       <fileNamePattern>dist/log/spring-kafka.%d{yyyy-MM-dd}.log</fileNamePattern>
	       <maxHistory>30</maxHistory>
       </rollingPolicy>

	   <encoder>
	       <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
	   </encoder>
    </appender>
    
    <logger name="org.springframework" level="INFO" />
   	<logger name="org.example.springkafka" level="DEBUG" />
   	<logger name="com.zaxxer.hikari" level="ERROR" />
   	<logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>